

    <footer>
        <div class="row">
            <div class="sub">
                <h6>SUBSCRIBE</h6>
                <input type="email" placeholder="Email address" name="" id="inputs">
                <input type="text" placeholder="First Name" id="inputs">
                <button class="btn btn-lg" type="submit">SIGN UP</button>
            </div>
            <div class="cus col-sm ">
                <h6>CUSTOMER SERVICE</h6>
                <a href=""><p>Terms & Condition</p></a>
                <a href=""><p>Shipping Information</p></a>
                <a href=""><p>Returns & Exchanges</p></a>
                <a href=""><p>Contact Us</p></a>
                <a href=""><p>FAQ</p></a>
            </div>
            <div class="about col-sm">
                <h6>ABOUT EVERLAST</h6>
                <a href=""><p>History</p></a>
                <a href=""><p>@EVERLASTAUSTRALIA</p></a>
            </div>
            <div class="shop col-sm">
                <h6>SHOP</h6>
                <a href=""><p>FIGHT</p></a>
                <a href=""><p>FIT</p></a>
                <a href=""><p>FASHION</p></a>
                <a href=""><p>BLOG</p></a>
            </div>
        </div>    
        <div class="footer-img">
            
        </div>
    </footer>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>