<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <title>Hello, world!</title>
</head>
<body>
    <div class="top-banner">
        <p>FREE SHIPPING ON ITEMS OVER $50</p>
    </div>
    <nav class="navbar ">
        <img src="https://cdn11.bigcommerce.com/s-fg272t4iw0/images/stencil/1280x1280/products/2703/2956/C-12710__42156.1557815060.jpg?c=2&imbypass=on" width="90" height="90" alt="" srcset="">
        <div class="links col-sm">
            <a href="">FIGHT </a>           
            <a href="">FIT</a>
            <a href="/services">FASHION </a>
            <a href="">#TEAMEVERLAST </a>
            <a href="">WORKOUTESSENTIALS </a>
        </div>
        </nav>
            
        
    
        
    
    
  