<%- include("partials/header") %> 
<div class="center">
    <img src="https://i.ytimg.com/vi/kab772PXbYI/maxresdefault.jpg" alt="" srcset="">
</div>

<div class="below-center">
    <div class="inner row">
      <div class="center-inner col-sm">
        <a href=""><img src="https://everlastboxing.com.au/media/wysiwyg/0620_Everlast_HP_Tile1.jpg" alt="" srcset=""></a>
      </div>
      <div class= "center-inner col-sm">
        <a href=""><img src="https://everlastboxing.com.au/media/wysiwyg/0620_Everlast_HP_Tile2.jpg"  alt="" srcset=""></a>
      </div>
  </div>

  <div class="slider">
    <h5 style="text-align: center;">HOME WORKOUT ESSENTIALS</h5>
  
  </div>
  <div class="gallery col-sm">
    <img src="https://www.instagram.com/p/CB45_lzAkRN/media/?size=l" width="300" height="350" alt="" srcset="">
    <img src="https://www.instagram.com/p/CB2Ju2SF54h/media/?size=l" width="300" height="350" alt="" srcset="">
    <img src="https://www.instagram.com/p/CBzR4IilRkt/media/?size=l" width="300" height="350" alt="" srcset="">
    <img src="https://www.instagram.com/p/CBwx8Yylsxx/media/?size=l" width="300" height="350" alt="" srcset="">
    <img src="https://www.instagram.com/p/CBr7LgaI8Y9/media/?size=l" width="300" height="350" alt="" srcset="">
    <img src="https://www.instagram.com/p/CBm_fX_Ae_M/media/?size=l" width="300" height="350" alt="" srcset="">
  </div>

 
<%- include("partials/footer") %> 
